@import "tailwindcss";

@theme {
  --color-primary: #388087;
  --color-primary-hover: #2C666C;
  --color-secondary: #6FB3B8;
  --color-secondary-hover: #5A9A9F;
  --color-accent: #BADFE7;
  --color-accent-hover: #9ACCD7;
  --color-accent-soft: #C2EDCE;
  --color-page: #F6F6F2;
  --color-surface: #FFFFFF;
  --color-text-main: #2B2B2B;
  --color-text-muted: #74746F;
  --color-border-subtle: #E6E2D8;
}
